.navbar-container {
    height: 60px;
    max-height: 60px;
}

.schedule-container {
    height: calc(100vh - 65px);
    max-height: calc(100vh - 65px);
    min-height: calc(100vh - 65px);
}

.pointer-cursor {
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.bg-code {
    background-color: #f6f7fa;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}